* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7fa1c3;
  justify-content: center;
  font-family: sans-serif;
}

nav {
  text-align: center;
  display: inline-block;
  background: lightgrey;
  width: 100%;
  padding: 30px 50px;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 2px 4px 10px grey;
}

.container {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 700px;
}

.container > div {
  width: 100%;
}

.input-bill {
  font-size: 24px;
  padding: 20px;
  font-size: 20px;
}

.input-bill > p {
  font-size: 24px;
  margin: 18px auto 8px;
  color: #4f1787;
}

#billAmount {
  display: flex;
  background: #fff;
  padding: 0 20px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  align-items: center;
  height: 40px;
  color: #4f1787;
  margin-top: 20px;
}

#billAmount > input {
  color: #4f1787;
  width: 100%;
  padding: 0px 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#billAmount > input:focus {
  outline: none;
  border: none;
}

.button-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.button-grid button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4f1787;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-grid button:hover {
  background-color: #0056b3;
}

.grey-input {
  background: lightgrey;
  color: black;
}

.grey-input:focus {
  outline: none;
  border: none;
}

#generateBill:hover {
  background-color: #0056b3;
}

#generateBill,
input {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin: 10px auto;
  font-size: 20px;
}

.input-bill > button {
  font-size: 16px;
  width: 31%;
  margin: 10px auto;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #4f1787;
  color: #fff;
  cursor: pointer;
}

#generateBill:disabled {
  /* background: #403f3fbb; */
  opacity: 0.4;
  cursor: not-allowed;
}

.button-grid.disabled {
  cursor: not-allowed;

  pointer-events: none;
  opacity: 0.5;
}

.custom-tip:disabled,
.number-of-people:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.output-bill {
  margin: 70px auto 0;
  border-radius: 18px;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  color: #fff;
  background: #402e7a;
  height: 430px;
}

.output-bill > p {
  margin: 60px auto;
}

.output-bill > button {
  font-size: 20px;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

.output-bill button:hover {
  /* box-shadow: 2px 5px 10px black; */
  color: #4f1787;
  /* font-size: 24px; */
  cursor: pointer;
}

.output-bill > p > span {
  float: right;
  color: #ccc;
  font-size: 24px;
}

.button-grid > .selected {
  outline: 2px solid #ccc;
}

/* .disabled {
  cursor: disabled;
} */

@media (max-width: 550px) {
  .container {
    flex-direction: column;
    padding: 50px;
  }

  .output-bill {
    margin: 0;
    font-size: 16px;
  }

  .input-bill {
    margin: 0;
    padding: 0;
  }
}
